/*h1,h2,h3,a,p,input,label {font-family: "Helvetica Neue",Helvetica,arial,sans-serif;color:#444444;}*/
h1,h2,h3,a,p,input,label,.ui-grid-cell-contents {font-family: "Roboto-Regular",Helvetica,arial,sans-serif;color:#444444;}


@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/roboto/Roboto-Regular.eot");
    src: url("../fonts/roboto/Roboto-Regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/roboto/Roboto-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/roboto/Roboto-Thin.eot");
    src: url("../fonts/roboto/Roboto-Thin.eot#iefix") format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Thin.woff") format("woff"),
    url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"),
    url("../fonts/roboto/Roboto-Thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/flaticon.eot");
    src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon/flaticon.woff") format("woff"),
    url("../fonts/flaticon/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon, Geneva, sans-serif;
}

.flaticon-arrow483:before { content: "\f100"; }
.flaticon-ascending24:before { content: "\f101"; }
.flaticon-car189:before { content: "\f102"; }
.flaticon-clock96:before { content: "\f103"; }
.flaticon-commerce6:before { content: "\f104"; }
.flaticon-computer:before { content: "\f105"; }
.flaticon-cross:before { content: "\f106"; }
.flaticon-delete:before { content: "\f107"; }
.flaticon-direction129:before { content: "\f108"; }
.flaticon-email5:before { content: "\f109"; }
.flaticon-facebook2:before { content: "\f10a"; }
.flaticon-fast-forward4:before { content: "\f10b"; }
.flaticon-gasoline6:before { content: "\f10c"; }
.flaticon-geometric2:before { content: "\f10d"; }
.flaticon-google-plus:before { content: "\f10e"; }
.flaticon-home78:before { content: "\f10f"; }
.flaticon-interface:before { content: "\f110"; }
.flaticon-lamp10:before { content: "\f111"; }
.flaticon-line-graphic9:before { content: "\f112"; }
.flaticon-map30:before { content: "\f113"; }
.flaticon-menu53:before { content: "\f114"; }
.flaticon-menu55:before { content: "\f115"; }
.flaticon-motorcycle17:before { content: "\f116"; }
.flaticon-multiple25:before { content: "\f117"; }
.flaticon-pin56:before { content: "\f118"; }
.flaticon-quotes3:before { content: "\f119"; }
.flaticon-settings61:before { content: "\f11a"; }
.flaticon-shopping-store10:before { content: "\f11b"; }
.flaticon-sign:before { content: "\f11c"; }
.flaticon-social:before { content: "\f11d"; }
.flaticon-team2:before { content: "\f11e"; }
.flaticon-telephone5:before { content: "\f11f"; }
.flaticon-tool:before { content: "\f120"; }
.flaticon-twitter:before { content: "\f121"; }
.flaticon-user168:before { content: "\f122"; }
.flaticon-utensil13:before { content: "\f123"; }
.flaticon-web40:before { content: "\f124"; }
.flaticon-worker67:before { content: "\f125"; }
.flaticon-youtube30:before { content: "\f126"; }