#banner{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;


}
#banner-img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    border: none;
    border-radius: 0%;
    background-image: url('../img/fondoA.png');
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;

}
#banner-gradient{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    top:0;
}
#principal-wrap{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-color:#ffffff;
}
#principal-logo-wrap{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 89%;
    height: auto;
    overflow: hidden;
}
#principal-logo-wrap h1{
    font-family: "MyriadProREGULAR",Helvetica,arial,sans-serif;
    font-size: 36px;
    display: block;
    position: relative;
    width: auto;
    text-align: center;
    color: #555555;
    letter-spacing: 3px;

}
#principal-logo-wrap h1 span{
    color: #cac532;
}
#principal-logo{
    display: block;
    height: auto;
    position: relative;
    width: 55%;
    margin: 0 auto;
    max-width: 125px;
}
#esloganA{
    display: block;
    position: relative;
    width: 89%;
    height: 100%;
    margin: 20px auto 0 auto;
}
#esloganA h2{
    font-family: "Bebas Neue Regular",Helvetica,arial,sans-serif;
    text-align: center;
    font-size: 12px;
    display: block;
    width: 100%;
    height: auto;
    line-height: 24px;
    color: #666666;
    letter-spacing: 2px;
}
/*
#esloganA h2:before { content: open-quote; }
#esloganA h2:after  { content: close-quote; }
*/
#logoYtext-container{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#principal-wrap-2,#principal-wrap-3,#principal-wrap-4,#principal-wrap-5,#principal-wrap-6,#principal-wrap-7{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}
#principal-wrap-2{
    background-color:#efefef;

}
#principal-wrap-3{
    background-color: #ffffff;
}
#principal-wrap-4{
    background-color:#efefef;
}
#principal-wrap-5{
    background-color: #ffffff;
}
#principal-wrap-6{
    background-color: #efefef;
}
#principal-wrap-7{
    background-color: #ffffff;
}
#scroll-down-arrow{
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/flecha.png);
    background-position: center;
    background-size: contain;
    bottom: 13px;
    -webkit-animation: pulse .8s infinite;
    -moz-animation: pulse .8s infinite;
    -o-animation: pulse .8s infinite;
    animation: pulse .8s infinite;
}
@-webkit-keyframes pulse {
    0% { bottom: 13px; }
    50% { bottom: 10px; }
    100% { bottom: 13px;}
}
@media only screen and (min-width: 480px) {
    #scroll-down-arrow{
        width: 50px;
        height: 50px;
    }
    #principal-logo{
        float: left;
        width: 125px;
        max-width: none;
    }
    #principal-logo-wrap h1 {
        position: relative;
        display: block;
        float: left;
        text-indent: 20px;
        font-size: 40px;
        height: 100%;
        text-align: left;
        width: 240px;
        letter-spacing: 5px;
    }
    #esloganA{
        margin: 25px auto 0 auto;
    }
    #esloganA h2 {
        font-size: 14px;
        line-height: 28px;
        width: 85%;
        margin: 0 auto;
    }


}
@media only screen and (min-width: 768px) {
    #scroll-down-arrow{
        width: 55px;
        height: 55px;
        -webkit-animation: pulse .8s infinite;
        -moz-animation: pulse .8s infinite;
        -o-animation: pulse .8s infinite;
        animation: pulse .8s infinite;
    }
    #principal-logo{
        width: 130px;
    }
    #principal-logo-wrap h1 {
        text-indent: 25px;
        font-size: 50px;
        width: 272px;
    }
    #esloganA{
        margin: 30px auto 0 auto;
    }
    #esloganA h2 {
        font-size: 16px;
        line-height: 32px;
        width: 85%;
    }

}
@media only screen and (min-width: 1140px) {
    #scroll-down-arrow{
        width: 60px;
        height: 60px;
    }
    #principal-logo{
        width: 150px;
    }
    #principal-logo-wrap h1 {
        text-indent: 27px;
        font-size: 52px;
        width: 328px;
        letter-spacing: 6px;
    }
    #esloganA{
        margin: 35px auto 0 auto;
    }
    #esloganA h2 {
        font-size: 18px;
        line-height: 36px;
        width: 67%;
    }
}
@media only screen and (min-width: 1920px) {
    #scroll-down-arrow{
        width: 65px;
        height: 65px;
    }
    #principal-logo{
        width: 170px;
    }
    #principal-logo-wrap h1 {
        text-indent: 27px;
        font-size: 54px;
        width: 336px;
        letter-spacing: 7px;
    }
    #esloganA{
        margin: 40px auto 0 auto;
    }
    #esloganA h2 {
        font-size: 20px;
        line-height: 40px;
        width: 55%;
    }
}